<ng-container *ngIf="alertS.isOpenS()">
    <div class="modal fade" tabindex="-1" role="dialog" aria-modal="true" [class.show]="alertS.isOpenS()"
        [style.display]="alertS.isOpenS() ? 'block' : 'none'">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="close()" *ngIf="alertS.alertS().isTwoOption"></button>
                </div>

                <div class="modal-body">
                    <p class="mb-0">{{ alertS.alertS().alertMessage }}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submit()">
                        {{ alertS.alertS().submitText }}
                    </button>

                    <button *ngIf="alertS.alertS().isTwoOption" type="button" class="btn btn-secondary"
                        (click)="close()">
                        {{ alertS.alertS().backText }}
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- backdrop（點背景關閉可要可不要） -->
    <div class="modal-backdrop fade show"></div>
</ng-container>